.card-image{
    width: 300px;
    display: flex;
    justify-content: center;
    
}

.dataCard{
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.dark-theme {
    background-color: #333333; 
    color: #ffffff; 
  }
  
  .light-theme {
    background-color: #ffffff; 
    color: #333333; 
  }

.homeTitle{
  margin-top: 120px;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
}