.contactTitle{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.contactText{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.contactBox{
    justify-content: center;
    width: 100%;
}

.formButton{
    border-radius: 7px;
    margin-top: 5px;
}

.formResponse{
    font-size: 1rem;
    margin-top: 5px;
}

.formBox{
    height: 200px;
}

.formPlaceholder{
    margin: 5px;
}