.navbar{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    width: 100%;
    background-color: rgb(175, 175, 175);
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 40px;
}

.themeButton{
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
}